<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="User"         label="Логин"         type="text" default="" />
	<setting id="password"     label="Пароль"        type="text" option="hidden" default="" />
    <setting type="sep" />
    <setting id="DownloadDir"  label="Путь Для Загрузки" type="folder" />
    <setting type="sep" />
    <setting id="VideoSource"  label="Источник Видео" type="enum"  values="Спрашивать|Лучшее Качество|Облегченный"  default="0"/>
    <setting id="categorize"   label="Избранное: разбивать на категории" type="bool" default="true" />
</settings>
